body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kumbh-sans: "Kumbh Sans";
  --font-kolker-brush: "Kolker Brush";
  --font-urbanist: Urbanist;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-109xl: 128px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray-100: #b0a6a6;
  --color-black: #000;
  --color-cornflowerblue-200: #1e8edf;
  --color-whitesmoke-100: #f7f6f3;
  --color-blueviolet: #ad2dfa;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-11xs: 2px;
  --br-mini: 15px;
  --br-8xs: 5px;
}
